@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <hi class="text-primary text-center">Payment Successfully!</hi>
        <br />Order Number: @Model <br />
        <img src="/images/lawn_leaf.jpg" width="65%" />
    </div>
    <div class="col-12 text-center" style="color: maroon">
        <br />
        Order paid successfully! <br />
        <a asp-action="Admin" asp-controller="Order" asp-action="Details" asp-route-orderId="@Model" 
            class="btn btn-primary">Back to Orders</a>
    </div>
</div>
